@import '../../../../assets/styles/variable';
.RegisterFrom {
  width: 100%;
  height: 100%;
  @include flex($dir: column, $justify: none, $align: none);
  padding: 2rem 4rem;
  border-radius: 4px;
  > * + * {
    margin-top: 3rem;
  }
  .FormInput {
    // margin: 1rem;

    width: 100%;
  }
}
