$main-font: 'Quicksand', sans-serif;

// App padding
$padding--desktop: 0 6rem;
$padding--mobile: 0 2rem;

// Transition
$transition--timing: cubic-bezier(0.53, 0.03, 1, 0.76);

// Color definition
$primary: #1e88e5;
$secondary: #3949ab;

// Mixin
@mixin flex($dir: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}
